<template>
    <multiple-input-image-preview-vue title="Select Images" :onChange="startSearch" />
</template>

<script>
import MultipleInputImagePreviewVue from '@/components/MultipleInputImagePreview.vue'
import {uppload} from '@/services/api'
export default {
    name: 'UpploadImages',
    components:{
        MultipleInputImagePreviewVue
    },
    methods:{
        startSearch(images){
            uppload(images)
        }
    }
}
</script>

<style scoped>

</style>