<template>
 <div id="app" class="p-2 w-full rounded-l-lg rounded-r-lg sm:rounded-r-none border sm:border-r-0 border-gray-300 bg-white outline-none" >
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>  
    <div >
          <label>{{title}}</label>
    </div>
    <form id="form1" runat="server">
        <div class="custom-file">
            <input id="inputGroupFile01" class="imgInp custom-file-input" type="file" :accept="accept" @change="onFileChange" multiple="multiple" />
            <label class="custom-file-label" for="inputGroupFile01">{{this.upploadedText()}} </label>
        </div>
        
        <div class="alert"></div>
        <div id='img_container'>
            <div
                v-for="photo in files"
                :key="photo.id"
                class="card"
            >
                <img
                        :src="photo"
                        :title="photo.name"
                        class="mg-photo"
                />
                <div class="container">
                    <label>{{photo.name}}</label>
                </div>    
            </div>
        </div>
    </form>
  </div>
</template>


<script>


export default {
  name: 'MultipleImageInputPreview',

  props: {
    accept: String,
    title: String,
    onChange: Function,
  },
  data() {
    return {
      files: null,
      filename: "Choose File"
    }
  },
  methods: {
    onFileChange(e) {
      const files = e.target.files
      //const file = files[0]
      this.files = []
      for( const file of files)
        this.files.push(URL.createObjectURL(file))
      this.onChange(files)
    },
    upploadedText(){
          return this.files ? "upploaded "+this.files.length +" files" : ""
      }

  },

}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#id{
  margin: 20;
  width: fit-content;  
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display:inline-block;
  
  margin:10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img{
  height: 200px;
  
}


.container{
  margin-left:auto;
  margin-right:auto;  
}
#form1{
  width:auto;
}
.alert{
  text-align:center;
}

#preview{  
  max-height:256px;
  height:auto;
  width:auto;
  display:block;
  margin-left: auto;
   margin-right: auto;
  padding:5px;
}
#img_container{
  border-radius:5px;
  width:auto;  
}
.input-group{  
  margin-left:calc(calc(100vw - 100%)/2);
  margin-top:40px;
}
.imgInp{  
  margin-top:10px;
  padding:10px;
  background-color:#d3d3d3;  
}
.loading{
   animation:blinkingText ease 2.5s infinite;
}

.custom-file-label{
  cursor:pointer;
  width:60%;
  margin: auto;
}

</style>
